<ion-header>
  <ion-toolbar>
    <ion-title>Библия</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <!-- BOOK -->
        <ion-col>
          <ion-item lines="none">
            <ion-label>Книга</ion-label>

            <ion-select [(ngModel)]="selectedBookNumber" [selectedText]="selectedBook.title" placeholder="Избери книга"
              (ionChange)="selectBook(selectedBookNumber)">
              <ion-select-option *ngFor="let bookMeta of booksMeta" [value]="bookMeta.number">
                {{bookMeta.title}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <!-- CHAPTER -->
        <ion-col>
          <ion-item lines="none">
            <ion-label>Глава</ion-label>

            <ion-select [(ngModel)]="selectedChapterNumber" [selectedText]="selectedChapter.number"
              placeholder="Избери книга" (ionChange)="selectChapter(selectedBookNumber, selectedChapterNumber)">
              <ion-select-option *ngFor="let chapter of selectedBook.chapters" [value]="chapter.number">
                {{chapter.number}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- CONTENT -->
  <div class="bible-control bible-control-left">
    <ion-icon name="arrow-dropleft-circle" (click)="selectPrevChapter()"></ion-icon>
  </div>

  <ion-list>
    <ion-item *ngFor="let verse of selectedChapter.verses">
      <span slot="start" (click)="markVerse(verse)">
        <ion-text>
          {{selectedChapterNumber | leadingZeroFormat}}:{{verse.number | leadingZeroFormat}}
        </ion-text>
        
        <ion-icon [style.visibility]="verse.marked ? 'visible' : 'hidden'" name="bookmark"></ion-icon>
      </span>

      <p>
        {{verse.text}}
      </p>
    </ion-item>
  </ion-list>

  <div class="bible-control bible-control-right">
    <ion-icon name="arrow-dropright-circle" (click)="selectNextChapter()"></ion-icon>
  </div>
</ion-content>