<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="bible" href="/tabs/bible">
      <ion-icon aria-hidden="true" name="book"></ion-icon>
      <ion-label>Библия</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon aria-hidden="true" name="settings"></ion-icon>
      <ion-label>Настройки</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about" href="/tabs/about">
      <ion-icon aria-hidden="true" name="information-circle"></ion-icon>
      <ion-label>Относно</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
